<html ng-app >
<head>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <title>{{query}}</title>
</head>
<body ng-controller="PhoneListCtrl">

Search: <input ng-model="query">

Sort by:
<select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
</select>

<ul class="phones">
    <li ng-repeat="phone in phones|filter:query|orderBy:orderProp">
        {{phone.name}}
        <p>{{phone.snippet}}</p>
    </li>
</ul>
</body>
</html>